@import 'variables';

.form-error {
  border: 1px solid red;
  box-shadow: 0 0 3px red;
}

.form-container {

  .error-message {
    width: 100%;
    margin-left: 20px;
    color: red;
    font-size: 1.5em;
  }

  .custom-form {
    margin: 20px;

    label {
      font-size: 1.3em;
    }

    input,select,textarea {
      margin-bottom: 10px;
    }

    textarea {
      height: 20vh;
    }
  }
}